{# Set-up build related task definitions #}

    [[fcm_make-{{util_name}}-{{build}}]]
        inherit = {{build_family}}, {{SITE|upper}}_{{platform_fam}}_2_TASKS, {{platform_fam}}
{% if SITE=='nci' %}
        pre-script = """
                     umask 0022
                     module purge
                     module use /g/data/access/ngm/modules
                     module use /g/data/access/projects/access/modules
                     module use /g/data/hr22/modulefiles
                     module load cylc7/23.03
                     module list 2>&1
                     """
{% endif %}
         script = """
                 rose task-run --verbose --define='args=--archive'
                 """
        [[[job]]]
            execution retry delays = 2*PT1M
{% if SITE=='nci' %}
            batch system = background
        [[[remote]]]
            host = {{ROSE_ORIG_HOST}}
{% endif %}
        [[[environment]]]
            CONFIG= {{build_family}}
            LEVEL={{level}}
	    LFRICINPUTS_UTIL={{util_name}}
            ROSE_TASK_APP=fcm_make_{{util_name}}
            ROSE_TASK_N_JOBS=2
            FFLAGS={{FFLAGS}}
            LDFLAGS={{LDFLAGS}}

    [[configurate-{{util_name}}-{{build}}]]
        inherit = {{build_family}}, {{SITE|upper}}_{{platform_fam}}_1_TASKS, {{platform_fam}}
        [[[environment]]]
            PYTHONPATH=$CYLC_SUITE_SHARE_DIR/fcm_make-{{util_name}}-{{build}}/extract/lfric/GPL/lib/python:
            ROSE_TASK_APP=configurate
            NAME={{util_name}}-{{build}}

    [[psyclone-{{util_name}}-{{build}}]]
        inherit = {{build_family}}, {{SITE|upper}}_{{platform_fam}}_1_TASKS, {{platform_fam}}
        [[[environment]]]
            ROSE_TASK_APP=psyclone
            NAME={{util_name}}-{{build}}

    [[fcm_make2-{{util_name}}-{{build}}]]
         inherit = {{build_family}}, {{SITE|upper}}_{{platform_fam}}_2_TASKS, {{platform_fam}}
{% if SITE=='nci' %}
         script = """
                 rose task-run --verbose
                 """
{% else %}
         script = """
                 rose task-run --verbose --define=fast-dest-root-cont=$FASTMEM
                 """
{% endif %}
        [[[environment]]]
            CONFIG= {{build_family}}
            LEVEL={{level}}
	    LFRICINPUTS_UTIL={{util_name}}
            ROSE_TASK_APP=fcm_make_{{util_name}}
            ROSE_TASK_N_JOBS=2
